body::-webkit-scrollbar {
    width: 0vw;
    height: 0vh;
    /* Set the width of the scrollbar */
}

.gradient-text {
    background: linear-gradient(to right, rgba(190, 237, 4, 1), rgba(255, 138, 138, 1), rgba(103, 220, 245, 1));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.typed-cursor {
    color: rgba(103, 220, 245, 1);
}

.ninetyFivePercent {
    background: conic-gradient(rgba(242, 160, 0, 1) 0% 95%, rgba(0, 0, 0, 0) 95% 100%);
}

.seventyFivePercent {
    background: conic-gradient(rgba(242, 160, 0, 1) 0% 75%, rgba(0, 0, 0, 0) 75% 100%);
}

.seventyPercent {
    background: conic-gradient(rgba(242, 160, 0, 1) 0% 70%, rgba(0, 0, 0, 0) 70% 100%);
}

.sixtyFivePercent {
    background: conic-gradient(rgba(242, 160, 0, 1) 0% 65%, rgba(0, 0, 0, 0) 65% 100%);
}

.fiftyFivePercent {
    background: conic-gradient(rgba(242, 160, 0, 1) 0% 55%, rgba(0, 0, 0, 0) 55% 100%);
}

.fortyPercent {
    background: conic-gradient(rgba(242, 160, 0, 1) 0% 40%, rgba(0, 0, 0, 0) 40% 100%);
}